<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Book</title>
</head>
<body>
    <form action="/addBook" method="post">
        <input type="text" placeholder="enter id" name="id"/><br><br>
        <input type="text" placeholder="enter a name" name="name"/><br><br>
        <input type="text" placeholder="enter location" name="location"/><br><br>
        <input type="text" placeholder="enter writer" name="writer"/>
        <button type="submit">Add</button><br><br>
        <button><a href="/books">View Book</a></button>
    </form>
</body>
</html>